.container {
  display: flex;
  height: 12rem;
  padding-right: .5rem;
  border-bottom: 1px solid #1f1f1f;
}

.imageContainer {
  height: 100%;
  width: 30rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.infoContainer {
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.title {
   color: #C70039;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 1.5rem;
}

.textInfo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.link {
  color: #C70039;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1080px) {
  .imageContainer{
    width: 30rem;
  }
}

@media (max-width: 720px) {
  .imageContainer {
    width: 20rem;
  }
}