.container {
  background-color: #152550;
  height: 12rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4.37rem;
  background: -webkit-linear-gradient(#C70039
  ,#45046A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

