.container {
  background: linear-gradient(to right, #C70039, #45046A);
  width: 7rem;
  height: 7rem;
  margin-right: 0.93rem;
  padding: 0.4rem;
  flex: none;
  border-radius: 50%;
  scroll-snap-align: start;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  border-radius: 50%;
}

.serieName {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: #fff;
  margin-top: .8rem;
  font-weight: 600;
}